@page
@model DyrvaernetRoskilde.Web.Pages.EventsModel

@{
    ViewData["Title"] = "Events";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="importmap"></script>
    <title>@ViewData["Title"] Aktiviteter </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Events.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DyrvaernetRoskilde.styles.css" asp-append-version="true" />
</head>

<div class="title">
    <h1>Aktiviteter</h1>
    <p>Læs og tilmeld dig aktiviteter, som Roskilde Dyreværnet tilbyder – for både dyr og mennesker</p>
    <hr/>
</div>


@for (int i = 0; i < Model.Events.Count; i++)
{
    <div class="event-card">
            <div class="event-text">
                <h3>@Model.Events[i].Title</h3>
                <p>@Model.Events[i].Description</p>
                <br/>
                <p><strong>Dato: </strong>@Model.Events[i].Date.ToShortDateString()</p>
                <br/>
                <a href="/SignUp?EventId=@Model.Events[i].Id">Tilmeld dig</a>
            </div>
            <div class="event-image">
                <img src="@Model.Events[i].ImagePath" alt="Billeder af aktiviteterne"/>
            </div>
    </div>
    
}